.highScores-body {
    background: radial-gradient(ellipse, green,slategray);

    height: 100vh;
}

.col-sm {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    background: rgba(85,75,85,0.6);
}
.col {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background: rgba(85,75,85,0.6);
       
}