.play-header {
    background-color: slategray;
}

.play-body {
    /* background-color: rgba(112, 128, 144,1); */
    background: radial-gradient(ellipse, crimson, slategray);

    height: 100vh;

}

.play-div {
    display: inline-block;
    ;
}

.red-underline {
    text-decoration: underline; /* Underlines the text */
    text-decoration-color: red; /* Sets the underline color to green */
}

.green-underline {
    text-decoration: underline; /* Underlines the text */
    text-decoration-color: green; /* Sets the underline color to green */
}

.blue-underline {
    text-decoration: underline; /* Underlines the text */
    text-decoration-color: blue; /* Sets the underline color to green */
}

.color-box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    color: white;
}