.play-header {
    background-color: slategray;
}

.play-body {
    /* background-color: rgba(112, 128, 144,1); */
    background: radial-gradient(ellipse, rgb(164, 15, 45), slategray);

    height: 100vh;

}

.play-div {
    display: inline-block;
    ;
}

.messages {
    color: gray;
    text-align: left;
    justify-content: left;
    margin-left: 0;
    display: flex;    /* Use flexbox for better alignment control */
    flex-direction: column; /* Ensure messages stack vertically */
}



.color-box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    color: white;
}