.about-body {
    background: radial-gradient(ellipse, rgb(81, 51, 121), slategray);

    height: 100vh;
}

.rgb-color-wheel img{
    border-radius: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    /* mix-blend-mode:multiply; */
}

.collapse {
    color: lightgray;
}
.card-body {
    background-color:rgb(94, 108, 121); /* Replace with your desired color */
}

.parent-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100%;            /* Full height of the parent */
}
