.highScores-body {
    background: radial-gradient(ellipse, green,slategray);

    height: 100vh;
}

.col-sm {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    background: rgba(171, 164, 171, 0.6);
}
.col {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background: rgba(171,171,171,0.6);
       
}




.container {
    max-width: 100%;
    margin: auto;
    padding: 10px;
}

.table {
    width: 100%; /* Ensures the table takes the full width */
    overflow-x: auto; /* Allows horizontal scroll on smaller screens */
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem; /* Adjust header size for smaller screens */
    }

    .table th, .table td {
        font-size: 0.9rem; /* Adjust font size for better readability */
    }
}

